<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Atualizar Item de Compra</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="container mt-5">
    <h1>Atualizar Item de Compra</h1>
    <form th:action="@{/cadastrar-item-compra}" method="POST" class="form-group">
        <div class="form-group">
            <label for="id">ID:</label>
            <input type="text" id="id" th:field="${item.id}" class="form-control" readonly/>
        </div>

        <div class="form-group">
            <label for="nomeItem">Nome do Item:</label>
            <input type="text" id="nomeItem" th:field="${item.nomeItem}" class="form-control" required/>
        </div>

        <div class="form-group">
            <label for="tipo">Tipo:</label>
            <input type="text" id="tipo" th:field="${item.tipo}" class="form-control" required/>
        </div>

        <div class="form-group">
            <label for="valor">Valor:</label>
            <input type="number" id="valor" th:field="${item.valor}" class="form-control" required/>
        </div>

        <div class="form-group">
            <label for="responsavel">Responsável:</label>
            <select id="responsavel" th:field="${item.responsavel.id}" class="form-control">
                <option th:each="usuario : ${usuarios}" th:value="${usuario.id}" th:text="${usuario.nome}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="status">Status:</label>
            <select id="status" th:field="${item.status}" class="form-control">
                <option value="true" th:selected="${item.status} == true">Comprado</option>
                <option value="false" th:selected="${item.status} == false">Pendente</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Atualizar</button>
    </form>
</body>
</html>
